#search{
    height: 100px;
    width: 100%;
}
.sfive-button{
    height: 30px;
    background-color: #4d90fe;
    border: 1px solid #3079ed;
    color: #fff;
}
.sfive-button :hover{
    background-color: #ff3300 !important;
    color: #333333;
}

#MyTableContainer .filtering label{
    font-weight: bold;
}

#articlesearch{
    margin-top: 15px;
}
#articletitle{
    width: 460px
}

label{
    font-weight: bold; 
}

.sfive-header{
    height: 30px;
    width: 99.8%;
    text-align: center;
}

.sfive-footer{
    height: 30px;
    width: 99.8%;
    text-align: center;
}