#pages{
    width: 1000px;
    height: 100%;
    margin: 0 auto;
    overflow-x: hidden;
    overflow-y: hidden;
}
#banner{
    width: 100%;
    height: 350px;
    margin-top: 10px;
}
#menu{
    margin-top: 3px;
}
#content{
    width: 100%;
    /*height: 1000px;*/
    margin-top: 5px;
}
#left-menu{
    width: 21%;
    float: left;
    height: 100%;
    font-size: 0.7em;
}
#menu-schedule{
    font-size: 0.7em;
}
#entry{
    width: 54.5%;
    float: left;
    height: 100%;
    margin-left: 5px;
}
#right-menu{
    width: 23%;
    height: 100%;
    float: right;
}
#footer{
    width: 1000px;
    margin: 0 auto;
}
#logo{
    width: 100%;
    height: 140px;
    background-color: #ffffff;
    margin-top: 10px;
}

.panel-header{
    height: 23px;
    text-align: center;
    font-size: medium;
    color: #ffffff;
    padding-top: 6px;
}
.hide{
    display: none;
}
.marquee {
    position:relative;
    overflow:hidden;
    width: 1500px;
    height:22px;
    padding-top: 5px;
}
.marquee span {white-space:nowrap; color: #ff9900}

.post-label{
    font-weight: bold;
    margin-left: 10px;
}
.post-input{
    width: 500px; 
    margin-left: 2px
}
.box{
    width: 100%;
    background-color: #ffffff;
}

.image{
    height: 150px;
    width: 150px;
    float: left;
    margin: 5px;
}

.intro{
    height: 150px;
    width: 375px;
    float: right;
    margin: 5px;
}

.head-news{
    height: 160px;
    width: 100%;
}

.old-news{
    margin-left: 10px;
    color: green;
}

.old-news a{
    font-size: 0.9em
}
.intro-teacher{
    height: 150px;
    width: 573px;
    float: right;
    margin: 5px;
}
.img-link{
    color: rgb(231, 139, 40) !important; 
}